
@media (max-width: 800px) {
 .card {
  width: 360px !important;
  height: 485px !important;
  margin: 5rem auto 8.5rem auto !important;
  }
  .buttons-card{
    margin: 0 1rem !important;
    
  }
}

.main{
  flex-wrap: nowrap;
}
.card {
  flex-wrap: wrap;
  display: flex;
  margin: 5rem 0 2rem 3rem;
  width: 400px;
  height: 510px;
  background-color: #d9d9d9;
  border-radius: 20px;
  justify-content: center;
}
.img-card {
  background-color: var(--header-backgtound);
  width: 100%;
  height: 220px;
  border-radius: 20px;
  border-radius: 20px 20px 0 0;
}
.card-title {
  padding: 0 0 0 2rem;
}
.card-subtitle {
  padding: 2rem 0 0 2rem;
  font-weight: 100;
}
.descricao {
  padding: 3rem 0 0 2rem;
}
.buttons-card{
  display: flex;
  margin: 0 auto ;
  gap: 2rem;
  
}
.card-links{
  padding: 8px 20px;
  margin: 0 auto;
  background-color: #D9D9D9;
  border: #080d0d solid 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.card-links:hover{
  background-color: #808080;
}
.card-links img{
 padding: 0 10px;
}
.card-text-link{
  color: #080d0d;
  font-size: 1.2rem;
}